@import "./variables.css";

* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;
}

li {
    list-style-type : none ;
}

#app{
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    background: var(--secondary-bg);
    padding: var(--padding-size-l);
}

.logo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__header{
font-size: var(--font-size-xl);
}

 .input-wrapper{
    display: flex;
    align-items: center;
} 

.input{
    display: flex;
    align-items: center;
    background: inherit;
}

.input:hover{
    background: rgb(109, 106, 155);
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: var(--padding-size-m);
}

.nav__link{
    display: flex;
    justify-content: space-between;
}

.saidebar-main{
    height: 250vh;
    display: flex;
    /* background: var(--primary-bg); */
}

.saidebar{
    height: 250vh;
    width: 30%;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background: var(--primary-bg);
}

.ul__saidebar{
    display: block;
    padding: var(--padding-size-s);
}

.li{
    font-size: var(--font-size-l);
}

.li__ul{
   padding: var(--padding-size-s);
   font-size: var(--font-size-l);
}

.comand-wrapper{
    border: 1px solid aliceblue;
    padding: var(--padding-size-m);
}

.comand-title{
    display: block;
    padding: var(--padding-size-s);
    margin-top: var(--margin-size-s);
    background:var(--additional-bg);
    font-size: var(--font-size-l);
}

.comand-title:hover{
    background:rgb(151, 150, 150);
}

.play-off{
    border-bottom: 2px solid aliceblue;
    font-size: var(--font-size-xl);
}

.main{
   width: 100%;
   background:var(--primary-bg);
}

.play-wrapper{
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    padding: var(--padding-size-l);
    font-size: var(--font-size-l);
    border-bottom: 1px solid aliceblue;
}

.box-comand{
    display: block;
    justify-content: space-between;
    border: 1px solid aliceblue;
    background: var(--spare-bg);
    margin: var(--margin-size-xl);
    width: 20rem;
}

.footer{
    display: flex;
    justify-content: center;
    background: var(--secondary-bg);
    padding: var(--padding-size-l);
}





    